.quotes{
  display: flex;
  flex-flow: row wrap;
  margin-right: -($grid-gutter-width / 2);
  margin-left: -($grid-gutter-width / 2);

  .quote{
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    margin-right: ($grid-gutter-width / 2);
    margin-left: ($grid-gutter-width / 2);
    background-color: $white;
    border-radius: .5rem;
    @extend .p-4;

    .quote-text{
      flex: 1 1 auto;
      font-weight: lighter;
      @extend .pb-3;
    }
    .quote-author{
      display: flex;
      align-items: center;

      .avatar{
        margin-right: 1.5rem;
      }
      .author{
        .rating{
          color: $yellow;
          font-size: 80%;
        }
        .name{
          font-weight: bold;
          font-size: 1rem;
        }
        .company{
          font-style: italic;
          color: $gray-500;
          font-size: 80%;
        }
      }
    }
  }
}
