.promo{
  .promo-item{
    display: flex;
    flex-direction: column;

    .promo-body{
      flex: 1 1 auto;
    }
  }
}

.page-template-template-alt-dienst{
  @extend .bg-light;
  .page-content{
    margin-top: -4rem;
    margin-bottom: -4rem;
  }
}
